<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kotlarz_marlene_dogservicescheduler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_waggy_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.ReportActivity"></activity>
        <activity android:name=".Activity.EmployeeDetailsActivity" />
        <activity android:name=".Activity.HomeActivity" />
        <activity android:name=".Activity.AppointmentServiceActivity" />

        <receiver
            android:name=".Utilities.AppointmentAddReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Activity.AppointmentPetListActivity" />
        <activity android:name=".Activity.AppointmentCustomerListActivity" />
        <activity android:name=".Activity.CustomerAddEditActivity" />
        <activity android:name=".Activity.PetAddEditActivity" />
        <activity android:name=".Activity.PetDetailsActivity" />
        <activity android:name=".Activity.PetListActivity" />
        <activity android:name=".Activity.CustomerDetailsActivity" />
        <activity android:name=".Activity.CustomerListActivity" />
        <activity android:name=".Activity.AppointmentDetailsActivity" />
        <activity android:name=".Activity.AppointmentAddActivity" />
        <activity android:name=".Activity.AppointmentListActivity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>